html{
    min-height: 100vh;
}

.navbar-light .navbar-brand{
    color: white;
}

body{
    background-image: url('../img/brooke-lark-08bOYnH_r_E-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
#imglogo{
    margin-left: 10px;
    margin-right: 10px;
}

#divdieta{
    background-color: white;
    border-radius: 20px;
    height: 50%;
    margin-top: 50px;
    box-shadow: 0px 1px 4px rgb(179, 179, 179);
}